body {
  background: linear-gradient(
    to right,
    hsla(120, 100%, 25%, 0.589),
    hsla(60, 100%, 50%, 0.568)
  );
}

.contact {
  display: flex;
  justify-content: space-between;
}

.search input {
  width: 300px;
  padding: 7px;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 128, 0, 0.644);
  outline: none;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
