.navbar {
  display: flex;
  padding: 1.5rem 1rem;
  justify-content: space-between;
  /* border-bottom: 2px solid rgba(0, 0, 255, 0.733); */
  box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.548);
}

.navLinks {
  display: flex;
}

.navLink {
  margin-right: 2rem;
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 2px solid rgba(0, 128, 0, 0.568);
}
